Malformed Warning header

Polipo generates Warning headers like this:

    Warning: 110 polipo:8123 Object is stale

This does not match the `Warning` production in [RFC 7234 § 5.5](http://tools.ietf.org/html/rfc7234#section-5.5), in that the double quotes around the `warn-text` are missing.