Age is mistakenly generated for newly obtained responses

[RFC 7234 § 5.1](http://tools.ietf.org/html/rfc7234#section-5.1):

> The presence of an Age header field implies that the response was not generated or validated by the origin server for this request.

However, Polipo generates an Age header even for responses that were just obtained from the origin server, if the delays accumulate to at least 1 second. For example:

    $ curl -si --proxy http://localhost:8123 httpbin.org/delay/5 | head
    HTTP/1.1 200 OK
    Content-Length: 262
    Date: Sat, 30 Jan 2016 13:09:00 GMT
    Via: 1.1 polipo
    Server: nginx
    Content-Type: application/json
    Access-Control-Allow-Origin: *
    Access-Control-Allow-Credentials: true
    Age: 5
    Connection: keep-alive

Fixing this would probably make the [spurious Warning headers](https://github.com/jech/polipo/issues/18#issuecomment-177161844) easy to fix as well.
